
/* Nomina */
/* variables.css */
:root {
    
    --bg-color-main: #1e2024;
    --bg-color-alt: #2f2f2f;    
    --text-color-main: #f5f5f5;
    --text-color-pink: #ce396b;
    --text-color-green: #699c8b;    
    --text-color-orange: #eb892d;
    --font-family-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    --font-family-main: "Sour Gummy", sans-serif;
    --font-family-alt: 'Courier New', Courier, monospace;

    --font-size-xsmall: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;  
    --font-size-xlarge: 1.75rem;
    --font-size-2xlarge: 2.5rem;

    --spacing-small: 0.5rem;    
    --spacing-medium: 1rem;     
    --spacing-large: 1.5rem;    
        
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.75rem;
    text-decoration: none;
    color: inherit;
    margin: 0;  
    font-size: var(--font-size-medium);   
}

*::selection {
    color: var(--text-color-pink);
    background: var(--bg-post-color-hover);
}

strong { color: var(--text-color-pink); font-size: inherit;}

html  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--bg-color-main);
    font-family: var(--font-family-main);
    color: var(--text-color-main);
    height: 100%;
    width: 100%;    
    margin: 0;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    max-width: 800px;
    min-height: 100vh;    
}

main {    
    width: 100%;
    margin: 0; padding: 0;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1 {
    width: 300px;
    text-align: center;
    background-color: var(--bg-color-alt);   
    border-radius: .5rem;
    margin: 0rem auto 1rem;
    padding: .5rem;
}




h3{
    width: 200px;
    text-align: center;
    font-size: var(--font-size-small);
    border-radius: .5rem;
    background-color: #699c8b;
    padding: .25rem;
    margin: .5rem 0 .5rem;
}

.material-icons {
    &.md {
        font-size: 2rem;
    }
    &.big {
        font-size: 3rem;
    }    
}

.orange {        
    color: var(--link-color-alt);
}

.pink {
    color: var(--text-color-pink);
}

footer {        
    margin: auto;        
    color: var(--text-color-main);    
    text-align: center;
    padding: 6px 12px;
    margin: 12px 0;
    border-radius: 10px;
    & p {
        font-size: var(--font-size-xsmall);
    }
}

header {
    margin: 0;
    margin-top: 1rem;
    height: 10%;
}




form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}


.form-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
}

.selects {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    & div {
        width: 100%;
        display: flex;
        flex-direction: column;        
        justify-content: start;
        align-items: center;
    }
}

select {    
    font-size: var(--font-size-xsmall);
    width: max-content;
    text-align: right;
    color: var(--bg-color-main);
    margin: 0 .5rem;
    & option{
        font-size: var(--font-size-xsmall);
    }
}    

details {
    width: 100%;
    text-align: left;
    position: relative;
    & input {
        position: absolute;
        right: 0;
    }
}

.form-section span {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    & p {
        display: inline;
        width: 100%;
        max-width: 300px; 
    }
}
.form-title {
    width: 100%;
    text-align: left;
}

.form-value {
    text-align: right;
    color: var(--text-color-main);
}

.renuncias {
    width: 100%;
    display: inline;    
    text-align: left; 
    & label {
        width: 100%;     
        margin: 0;
        text-align: left;
    } 
    & input {
        margin-right: 0;
    }   
}

.middle {
    width: 100%;
    min-width: 150px;
    padding: .25rem;
    text-align: left;
    
}

.extras {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    & * {
        font-size: var(--font-size-small);
    }
}

.extras label{
    width: 70%;
}
.extras input {
    width: 30%;
    height: 1.5rem;
    max-width: 5rem;
    color: var(--bg-color-main); 
    border-radius: .5rem;
    text-align: center;
}
input {
    appearance: none;
    position: relative;
    display: inline-block;
    background: lightgrey;
    height: 1.65rem;
    width: 2.75rem;
    vertical-align: middle;
    border-radius: 2rem;
    box-shadow: 0px 1px 3px #0003 inset;
    transition: 0.25s linear background;    
    color: var(--bg-color-main);
    &:checked {
        background: var(--text-color-pink);        
    }
    &:checked::before {
        transform: translateX(1rem);
    }
}
input::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border-radius: 1.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: 0px 1px 3px #0003;
    transition: 0.25s linear transform;
    transform: translateX(0rem);
    
}


#irpf {
    width: 50%;
    height: 1.25rem;
    border-radius: .5rem;
    text-align: center;
    font-size: var(--font-size-xsmall);
}
/*


input, button {
    color: var(--bg-color-main);
    margin: 5px auto;
    text-align: center;
}



#summer {
    display: inline;
    width: 100%;
    margin-right: 0rem;
}

/*
https://htmhell.dev/adventcalendar/2023/2/
*/

/*

.checkbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}



button:hover {
    background-color: var(--text-color-pink);
}


button {        
    padding: 10px;
    width: 100%;    
    background-color: var(--text-color-orange);
    color: var(--bg-color-main);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem auto;
}




#icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card {
    cursor: pointer;
    background-color: var(--bg-color-alt);
    margin: 15px; padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;    
    width: 90px;
    height: 90px;
}

.minicard {
    margin: 25px auto;
    width: 60px;
    height: 60px;    
}

.superminicard {    
    margin: 2px auto;    
    width: 30px;
    height: 30px;
}
